.font-10 {
	font-size: 10px!important;
}
.font-12 {
	font-size: 12px!important;
}
.font-14 {
	font-size: 14px!important;
}
.font-16 {
	font-size: 16px!important;
}
.font-18 {
	font-size: 18px!important;
}
.font-20 {
	font-size: 20px!important;
}
.font-24 {
	font-size: 24px!important;
}
.font-26 {
	font-size: 26px!important;
}
.font-28 {
	font-size: 28px!important;
}
.font-30 {
	font-size: 30px!important;
}
.line-height-22 {
	line-height: 22px;
	height: 22px;
	vertical-align: middle;
}
.font-white {
	color: #fff;
}
.font-light {
	color: #666;
}
.font-light a {
	color: #aaa;
}
.font-light a:hover {
	color: #eee;
	text-decoration: none;
}
.font-green {
	color: #006464;
}
.font-red {
	color: #ad000e;
}
.font-italic {
	font-style: italic;
}
.font-bold {
	font-weight: bold;
}
.font-underline {
	text-decoration: underline;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.margin-0 {
	margin: 0px;
}
.margin-t0 {
	margin-top: 0px;
}
.margin-t10 {
	margin-top: 10px;
}
.margin-r5 {
	margin-right: 5px;
}
.margin-r15 {
	margin-right: 15px;
}
.margin-tb10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.margin-tb15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.margin-rb15 {
	margin-right: 15px;
	margin-bottom: 15px;
}
.margin-lb15 {
	margin-left: 15px;
	margin-bottom: 15px;
}
.margin-b5 {
	margin-bottom: 5px;
}
.margin-b15 {
	margin-bottom: 15px;
}
.padding-0 {
	padding: 0px;
}
.padding-5 {
	padding: 5px;
}
.padding-15 {
	padding: 15px;
}
.padding-t15 {
	padding-top: 15px;
}
.padding-b15 {
	padding-bottom: 15px;
}
.padding-lr15 {
	padding-left: 15px;
	padding-right: 15px;
}
.padding-tb0 {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.align-justify {
	text-align: justify;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.width-25 {
	width: 25%;
}
.width-100 {
	width: 100%;
}
.height-80px {
	height: 80px!important;
}
.visible-always {
	display: block!important;
}
.clear {
	clear: both;
}
.link-red {
	color: #940000;
	text-decoration: underline;
}
.link-red:hover {
	color: #940000;
	text-decoration: none;
}
.link-orange {
	color: #f28200;
	text-decoration: underline;
}
.link-orange:hover {
	color: #f28200;
	text-decoration: none;
}
.link-green {
	color: #59ac40;
	text-decoration: underline;
}
.link-green:hover {
	color: #59ac40;
	text-decoration: none;
}
.link-white {
	color: #ffffff;
	text-decoration: underline;
}
.link-white:hover {
	color: #ffffff;
	text-decoration: none;
}
.link-gray {
	color: #808080;
	text-decoration: underline;
}
.link-gray:hover {
	color: #808080;
	text-decoration: none;
}

.div-table {
	display: table;         
	width: 100%;         
	border-spacing: 0px;
}
.div-table-row {
	display: table-row;
	border-top: 1px dotted #808080;
	width: 100%;
	clear: both;
}
.div-table-row:nth-child(odd) {
	background-color: #effaea;
}
.div-table-header {
	background-color: #666666!important;
}
.div-table-col-100, .div-table-col-75, .div-table-col-70, .div-table-col-50, .div-table-col-40, .div-table-col-33, .div-table-col-30, .div-table-col-25, .div-table-col-20, .div-table-col-15, .div-table-col-12, .div-table-col-10, .div-table-col-5 {
	float: left;
	display: table-column;
	padding: 5px 15px 5px 15px;        
	position: relative;         
}
.div-table-col-100 {
	width: 100%;
}
.div-table-col-75 {
	width: 75%;
}
.div-table-col-70 {
	width: 70%;
}
.div-table-col-50 {
	width: 50%;
}
.div-table-col-40 {
	width: 40%;
}
.div-table-col-33 {
	width: 33.33%;
}
.div-table-col-30 {
	width: 30%;
}
.div-table-col-25 {
	width: 25%;
}
.div-table-col-20 {
	width: 20%;
}
.div-table-col-15 {
	width: 15%;
}
.div-table-col-12 {
	width: 12.5%;
}
.div-table-col-10 {
	width: 10%;
}
.div-table-col-5 {
	width: 5%;
}
 

#header-mobile {
	background-image: url('../img/header_bg.gif');
	background-size: contain;
	background-repeat: repeat-y;
	margin-top: -25px;
}

#mobile-logo {
	position: relative;
	top: 24px;
}
#desktop-logo {
	position: relative;
	top: -25px; 
	margin-right: 15px;
}
.header-col {
	padding-top: 40px;
	font-size: 32px;
	color: #666666;
}

h1 {
	color: #56a748;
	font-size: 32px;
	font-weight: bold;
}
h2 {
	color: #56a748;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}
#header-dektop-shortcuts {
	background-image: url('../img/header_bg.gif');
	background-size: cover;
	background-repeat: repeat-y;
	margin-bottom: 10px;
}
#header-dektop-shortcuts i {
	margin: 5px 5px 5px 0px;
}
#header-desktop {
	position: relative;
    z-index: 10;
}
ul.menu-desktop {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.menu-desktop > li {
	float: left;
	width: 16.666%;
	
	text-align: center;
	padding-left: 10px;
}
ul.menu-desktop > li:first-of-type {
	padding-left: 0px;
}

.menu-desktop-container {
	position: absolute; 
	width: 100%; 
	padding: 15px; 
	margin-left: -15px;
}
.menu-desktop-item {
	background-image: url('../img/menu_background.jpg');
	background-repeat: repeat-x;
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	line-height: 40px;
	vertical-align: middle;
	display: block;
	color: #ffffff;
}
.menu-desktop-item:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #808080;
	background-image: none;
}
.menu-desktop > li {
	position: relative;
}
.submenu-desktop {
	display: none;
	position: relative;
	top: 1px;
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.submenu-desktop a {
	width: 100%;
	display: block;
	color: #ffffff;
	font-size: 12px;
	border-bottom: 1px solid #000000;
	background-color: #808080;
	padding: 2px 5px 2px 5px;
}
.submenu-desktop a:hover {
	text-decoration: none;
	background-color: #59ac40;
}
.header-search {
	font-size: 10px;
	height: 18px;
	border-radius: 4px;
	position: relative;
	top: -3px;
}
.header-search-button {
	border: 1px solid #8bd474;
	border-radius: 7px;
	background-image: url('../img/btn-green_background.jpg');
	color: #ffffff;
	height: 20px;
	font-size: 10px;
	position: relative;
	top: -3px;	
}
.header-search-button i {
	margin: 0px!important;
}
.header-input {
	font-size: 12px;
	height: 22px;
	border-radius: 4px;
	margin-right: 15px;
	margin-bottom: 5px;
	width: 100%;
}
.input-rounded {
	height: 23px;
	font-size: 12px;
	border-radius: 4px;
}

#sub-header h2 {
	margin-top: 30px;
}

#sub-header button {
	margin-top: 35px;
}
#navigation-container {
	display: none;
}
.navigation-header {
	background-color: #000000;
	margin-top: 25px;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px; 
}
ul.menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
	bakcground-color: #ffffff;
	background-image: url('../img/navigation_background.jpg');
	background-repeat: repeat-x;
}
ul.menu > li {
	padding: 10px 15px 10px 15px;
	border-bottom: 1px solid #000000;
}
ul.menu > li.grey {
	color: #ffffff;
	background-color: #999999;
}
.menu-item, .menu-item:hover {
	color: #000000;
	text-decoration: none;
}
ul.submenu {
	display: none;
	margin: 0px 0px 0px 15px;;
	padding: 0px;
	list-style: none;
}
ul.submenu > li {
	padding: 5px 0px 5px 0px;
	color: #ff6400;
}
ul.submenu > li:first-of-type {
	margin-top: 5px;
}
.btn-grey {
	border: 1px solid #b0b0b0;
	border-radius: 7px;
	background-image: url('../img/btn-grey_background.jpg');
	color: #ffffff;
	height: 28px;
	line-height: 26px;
	font-size: 12px;
}
.btn-green {
	border: 1px solid #8bd474;
	border-radius: 7px;
	background-image: url('../img/btn-green_background.jpg');
	color: #ffffff;
	height: 28px;
	line-height: 26px;
	font-size: 12px;
}
.btn-green-big {
	border: 1px solid #8bd474;
	border-radius: 7px;
	background-image: url('../img/btn-green_background.jpg');
	background-position: bottom;
	background-repeat: repeat-x;
	background-color: #73c45d;
	color: #ffffff;
	height: 34px;
	line-height: 32px;
	font-size: 15px;
}
.btn-orange {
	border: 1px solid #f78628;
	border-radius: 7px;
	background-image: url('../img/btn-orange_background.jpg');
	color: #ffffff;
	height: 28px;
	line-height: 26px;
	font-size: 12px;
}

.bar-low {
	background-image: url('../img/bar_low.jpg');
	height: 32px;
	font-size: 12px;
	line-height: 32px;
	padding: 0px 15px 0px 15px;
}
.bar-low p {
	vertical-align: middle;
	margin: 0px;
}
.bar-high {
	background-image: url('../img/bar_high.jpg');
	height: 50px;	
	line-height: 50px;
	vertical-align: middle;
	font-size: 20px;
}

.bar-high p {
	margin: 0px;
}

.bar-low p, .bar-high p {
	
}
.qty {
	width:70px;
	margin: 0px 10px 0px 10px;
	font-size: 12px;
	height: 20px;
	border-radius: 4px;
}
.orange {
	color: #ff6501;
}
.green {
	color: #59ac40;
}
.white {
	color: #ffffff;
}
.grey {
	color: #5e5f61;
}
.red {
	color: #940000;
}
.bg-grey {
	background-color: #666666;
}
.bg-green {
	background-color: #dff2d2;
}
.bg-light-green {
	background-color: #effaea;
}
.bg-dark-green {
	background-color: #8FC16A;
}
.border {
	border: 1px solid #d1d2d4;
	border-radius: 4px;
}
.product {
	margin-top: 5px;
}
.border-after {
	border-bottom: 1px dotted #808080;
	padding-bottom: 5px;
}
.border-right {
	border-right: 1px dotted #808080;
}
.border-before {
	border-top: 1px dotted #808080;
	padding-top: 5px;
}
.banner {
	width: 100%;
}
.product {
	
}
.desc-product {
	display: none;
}
.desc-product:first-of-type {
	display: block;
}
.desc-arrow  {
	position: absolute;
	top: -14px;
	left: 65px;
}
.grey-bar {
	background-image: url('../img/breadcrumps_background.jpg');
	background-repeat: repeat-x;
	height: 22px;
}
#shopping-cart-container {
	z-index: 2;
	width: 100%;
	margin-left: -15px;
}
#shopping-cart {
	display: none;
}
#request-quote-container {
	z-index: 2;
	width: 100%;
	margin-left: -15px;
}
#request-quote {
	display: none;
}
.breadcrumps {
	padding: 0px;
	margin: 0px;
	list-style: none;	
}
.breadcrumps > li {
	float: left;
	margin-left: 5px;
	height: 22px;
}

.breadcrumps > li:after {
	content: url('../img/breadcrumps_arrow.png');
	margin-left: 5px;
	margin-right: 5px;
}
.breadcrumps > li:last-of-type:after {
	content: '';
	margin-left: 0px;
	margin-right: 0px;
}
.breadcrumps > li > a {
	position: relative;
	top: -6px;
}
.content-box {
	border-top: 2px solid #5ea94a;
}
.content-box-header, .content-box-header-grey {
	display: block;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	height: 29px;
	line-height: 29px;
	vertical-align: middle;
	background-image: url('../img/tab_green.png');
	background-position: right;
	color: #ffffff;
}
.content-box-header-grey {
	background-image: url('../img/tab_grey.png');
}
.content-box-content {
	padding: 15px;
}
.products-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.products-list > li {
	margin: 0px 0px 10px 0px;
}

.search-results-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.search-results-list > li.header {
	background-color: #666666;
	height: auto;
	border-bottom: none;
}
.search-results-list > li {
	margin: 0px;
	padding: 10px 10px 10px 10px;
	height: 56px; 
	border-bottom: 1px dotted #808080;
}
.search-results-list > li > p {
	float: right;
	display: block;
	width: 30%;
}
.search-results-list > li > a {
	line-height: 36px;
}
.search-results-list > li.header > p:nth-of-type(1) {
	display: inline;
	float: none;
}
.standard-list {
	padding: 15px 15px 15px 25px;
}
.options-list {
	list-style: none;
	padding-left: 25px;
}
.shadow-box {
	-webkit-box-shadow: 0px 0px 20px 2px rgba(187,187,187,1);
	-moz-box-shadow: 0px 0px 20px 2px rgba(187,187,187,1);
	box-shadow: 0px 0px 20px 2px rgba(187,187,187,1);
	padding: 10px;
	margin-bottom: 15px;
}
.more-arrow {
	position: absolute;
    top: 15px;
    right: 15px;
}
.multiselect-list {
	font-size: 12px;
	border-radius: 4px;
	margin-right: 15px;
}
.pagination>li>a {
	padding: 2px 8px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover {
	background-color: #abd49f;
	border: 1px solid #a3cc97;
}
.pagination>li>a, .pagination>li>a:hover, .pagination>li>span {
	color: #808080;
}

#footer-mobile {
	margin-top: 15px;
	padding-top: 10px;
	background-color: #a4d991;
	background-image: url('../img/footer_background.jpg');
	background-repeat: repeat-x;
}
#footer-desktop {
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.footer-list > li {
	float: left;
	margin-right: 10px;
}
.footer-list > li:last-of-type {
	margin-right: 0px;
}
.footer-list > li:after {
	margin-left: 10px;
	content: "|";
}
.footer-list > li:last-of-type:after {
	margin-left: 0px;
	content: "";
}

@media (min-width: 992px)
{
	.border-sm-right {
		border-right: 1px dotted #808080;
	}
	
}
@media (min-width: 769px)
{
	.content-box > .content-box-tab:nth-of-type(1) {
	position: relative;
	z-index: 6;
	} 
	.content-box > .content-box-tab:nth-of-type(2) {
		position: relative;
		left: -10px;
		padding-left: 25px;
		z-index: 5;
	} 
	.content-box > .content-box-tab:nth-of-type(3) {
		position: relative;
		left: -20px;
		padding-left: 25px;
		z-index: 4;
	} 
	.content-box > .content-box-tab:nth-of-type(4) {
		position: relative;
		left: -30px;
		padding-left: 25px;
		z-index: 3;
	} 
	.content-box > .content-box-tab:nth-of-type(5) {
		position: relative;
		left: -40px;
		padding-left: 25px;
		z-index: 2;
	} 
	
}
@media (min-width: 769px) and (max-width: 991px)
{
	.menu-desktop-item {
		font-size: 10px;
	}
}
@media (max-width: 768px)
{
	.padding-xs-0 {
		padding: 0px;
	}
	.padding-xs-15 {
		padding: 0px 15px 0px 15px;
	}
	.padding-xs-b0 {
		padding-bottom: 0px;
	}
	.margin-xs-t10 {
		margin-top: 10px;
	}
	.margin-xs-b15 {
	 	margin-bottom: 15px;
	 }
	.border {
		border: none;
		border-radius: 0px;
	}
	.bg-xs-green {
		background-color: #dff2d2;
	}
	.align-xs-center {
		text-align: center;
	}
	img.align-xs-center {
		display: block;
		margin: auto;
	}
	.width-xs-100 {
		width: 100%;
	}
	.max-width-xs-100 {
		max-width: 100%;
	}
	.border-strong-xs-before {
		border-top: 5px solid #000000;
	}
	.bg-xs-grey-light {
		background-color: #e0e0e0!important;
	}
	.content-box-header {
		width: 100%;
		background-image: none;
	    background-color: #57a748;
	    text-align: center;
	    font-weight: bold;
	    color: #ffffff;
	}
	.content-box-header-grey {
		width: 100%;
		background-image: none;
	    background-color: #e4e4e4;
	    text-align: center;
	    font-weight: bold;
	    color: #5e5f61;
	}
	.products-list, .search-results-list  {
		margin-left: -15px;
		margin-right: -15px;
	}
	.products-list > li, .search-results-list > li {
		padding: 5px 15px 5px 15px;
		margin: 0px;
	}
	.products-list > li:nth-child(even) {
		background-color: #ffffff;
	}
	.products-list > li:nth-child(odd) {
		background-color: #e0e0e0;
	}
	.search-results-list > li.header {
		display: none;
	}
	.search-results-container li:not(.header):nth-child(even) {
		background-color: #ffffff;
	}
	.search-results-container li:not(.header):nth-child(odd) {
		background-color: #e0e0e0;
	}
	.bg-xs-grey-white:nth-child(even) {
		background-color: #ffffff;
	}
	.bg-xs-grey-white:nth-child(odd) {
		background-color: #e0e0e0;
	}
	.div-table-col-xs-100 {
	width: 100%!important;
	}
	
}